<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOGEAgmJ0LOw62kgQjSYgByH06gRS_hXU</string>
	<key>GCM_SENDER_ID</key>
	<string>809814049198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krisawyerr.DemureDoughnuts</string>
	<key>PROJECT_ID</key>
	<string>flashchat-76c44</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-76c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809814049198:ios:a2842e27caa0175757483f</string>
</dict>
</plist>